{% extends "base.html.twig" %}

{% block body %}
    <h1>Admin area</h1>

    <p><a href="{{ path('admin_area_logout') }}">Logout</a></p>

    <h2>Plan a new session</h2>

    {{ form(form) }}

    <h2>Upcoming sessions</h2>

    {% if upcomingSessions|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Attendees</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for upcomingSession in upcomingSessions %}
                <tr class="session-{{ upcomingSession.sessionId }}">
                    <td class="session-date">{{ upcomingSession.date(authorTimeZone) }}</td>
                    <td class="session-time">{{ upcomingSession.time(authorTimeZone) }}</td>
                    <td class="session-description">{{ upcomingSession.description }}</td>
                    <td class="session-attendees">{{ upcomingSession.attendeeStats }}</td>
                    <td class="session-url-for-call">
                        {% if upcomingSession.urlForCall is not null %}
                            <a href="{{ upcomingSession.urlForCall }}"
                               target="_blank">{{ upcomingSession.urlForCall }}</a>
                        {% endif %}
                    </td>
                    <td class="session-actions">
                        <a href="{{ path('edit_session', { sessionId: upcomingSession.sessionId }) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No sessions have been planned.</p>
    {% endif %}

    <h2>Members</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Leanpub invoice ID</th>
            <th>Email address</th>
            <th>Requested access at</th>
            <th>Access was granted</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr class="{% if member.accessWasGranted %}table-success{% else %}table-warning{% endif %}">
                <td>{{ member.memberId }}</td>
                <td>{{ member.emailAddress }}</td>
                <td>{{ member.requestedAccessAt }}</td>
                <td>{% if member.accessWasGranted %}yes{% else %}no {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <h2>Purchases</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Leanpub invoice ID</th>
            <th>Was claimed</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr class="{% if purchase.wasClaimed %}table-success{% endif %}">
                <td>{{ purchase.leanpubInvoiceId }}</td>
                <td>{% if purchase.wasClaimed %}yes{% else %}no {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
