{% extends "base.html.twig" %}

{% block body %}

    <div class="logged_in_username">{{ app.user.username }}</div>

    <h1>Member area</h1>

    <h2>Upcoming sessions</h2>

    {% if upcomingSessions|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for upcomingSession in upcomingSessions %}
                <tr class="session-{{ upcomingSession.sessionId }}{% if upcomingSession.memberIsRegisteredAsAttendee() %} table-success{% endif %}">
                    <td class="session-date">{{ upcomingSession.date(memberTimeZone) }}</td>
                    <td class="session-time">{{ upcomingSession.time(memberTimeZone) }}</td>
                    <td class="session-description">{{ upcomingSession.description }}</td>
                    <td class="session-actions">
                        {% if upcomingSession.memberIsRegisteredAsAttendee %}
                            Attending
                        {% else %}
                            <form action="{{ url('attend_session') }}" method="post">
                                <input type="hidden" name="sessionId" value="{{ upcomingSession.sessionId }}"/>
                                <button class="btn btn-warning">{{ 'attend_session.button_label'|trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No sessions have been planned.</p>
    {% endif %}

{% endblock %}
