{% extends "base.html.twig" %}

{% block body %}

    <div class="logged_in_username">{{ app.user.username }}</div>

    <h1>Member area</h1>

    <h2>Latest version of the book</h2>

    <p>Download here the latest version of the book:</p>

    <ul>
        <li><a href="{{ url('download_latest_version_pdf') }}">PDF</a></li>
        <li><a href="{{ url('download_latest_version_epub') }}">EPUB</a></li>
        <li><a href="{{ url('download_latest_version_mobi') }}">MOBI</a></li>
    </ul>

    <h2>Upcoming sessions</h2>

    {{ form(updateTimeZoneForm) }}

    {% if upcomingSessions|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for upcomingSession in upcomingSessions %}
                <tr class="session-{{ upcomingSession.sessionId }}{% if upcomingSession.memberIsRegisteredAsAttendee() %} table-success{% endif %}">
                    <td class="session-date">{{ upcomingSession.date(memberTimeZone) }}</td>
                    <td class="session-time">{{ upcomingSession.time(memberTimeZone) }}</td>
                    <td class="session-description">{{ upcomingSession.description }}</td>
                    <td class="session-actions">
                        {% if upcomingSession.memberIsRegisteredAsAttendee %}
                            <a href="{{ url('redirect_to_video_call', { sessionId: upcomingSession.sessionId }) }}" class="btn btn-primary">
                                Join the video call
                            </a>

                            <form action="{{ url('cancel_attendance') }}" method="post">
                                <input type="hidden" name="sessionId" value="{{ upcomingSession.sessionId }}"/>
                                <button class="btn btn-warning">{{ 'cancel_attendance.button_label'|trans }}</button>
                            </form>
                        {% else %}
                            <form action="{{ url('attend_session') }}" method="post">
                                <input type="hidden" name="sessionId" value="{{ upcomingSession.sessionId }}"/>
                                <button class="btn btn-warning">{{ 'attend_session.button_label'|trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No sessions have been planned.</p>
    {% endif %}

{% endblock %}
