<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ siteTitle }} - {{ bookSummary.title }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap-4.4.1-min.css">
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="alerts mb-3 mt-3">
        {% for key, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% block body %}{% endblock %}

    <div class="row">
        <div class="col-sm-12 mb-3">
            <hr>
            <p class="small">&copy; 2020 <a href="https://matthiasnoback.nl" target="_blank">Matthias Noback</a>
                &mdash; <a href="mailto:{{ systemEmailAddress }}">{{ systemEmailAddress }}</a>
                &mdash; <a href="{{ path('privacy_policy') }}">Privacy policy</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
