{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron shadow p-3 mb-5 rounded">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">

                    <h1 class="display-4">{{ bookSummary.title }}</h1>
                    {% if bookSummary.subtitle %}
                        <h2>{{ bookSummary.subtitle }}</h2>
                    {% endif %}
                    <p class="lead">Read the book together with the author, {{ bookSummary.author }}</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non sapien at ligula euismod
                        pellentesque. Proin et facilisis erat. Sed quam leo, tincidunt in aliquet id, lobortis in metus.
                        Mauris eget ante vitae elit rhoncus pellentesque. Aenean nec tincidunt quam. Duis ut est turpis.
                        Aenean ornare tellus odio. Cras venenatis neque vitae ante vehicula facilisis. In vitae magna
                        mauris. Fusce auctor ut leo sed sodales. </p>
                </div>
                <div class="col-sm-3">
                    <a href="{{ bookSummary.url }}" target="_blank">
                        <img src="{{ path('title_page_image') }}" class="img-fluid img-thumbnail" alt="Title page"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6">
            <h2>Already a member?</h2>
            {{ form(requestAccessTokenForm) }}
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>Not a member yet? Sign up!</h2>
            {{ form(requestAccessForm) }}
        </div>


    </div>

{% endblock body %}
