{% extends "base.html.twig" %}

{% block body %}

    {% set siteOwner = bookSummary.author %}
    {% set siteOwnerAddress = "Crosestein 3328, 3704NM Zeist, Netherlands" %}

    <p><a href="{{ path('index') }}">&laquo; Back to Home</a></p>

    <h1>Privacy policy</h1>

    <p><em>Last updated April 8th, 2020</em></p>

    <p>We are committed to protecting your personal information and your right to privacy. If you have any questions or
        concerns about our policy, or our practices with regards to your personal information, please contact us at
        info@matthiasnoback.nl.</p>

    <p>When you visit our website <a href="{{ url('index') }}">{{ url('index') }}</a>, and use our services, you trust
        us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to
        explain to you in the clearest way possible what information we collect, how we use it and what rights you have
        in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any
        terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.
    </p>

    <p>This privacy policy applies to all information collected through our website (such as <a
                href="{{ url('index') }}">{{ url('index') }}</a>), and/or any related services, sales, marketing or
        events (we refer to them collectively in this privacy policy as the "Services").</p>

    <p>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal
        information with us.</p>

    <h2>1. What information do we collect?</h2>

    <p>Personal information you disclose to us</p>

    <p><em>In Short: We collect personal information that you provide to us such as name, address, contact information,
            passwords and security data, and payment information.</em></p>

    <p>We collect personal information that you voluntarily provide to us when expressing an interest in obtaining
        information about us or our products and services, when participating in activities on the Services (such as
        registering yourself using your Leanpub Invoice ID and email address, participating in online sessions or
        discussions through our platform, or entering competitions, contests, or giveaways) or otherwise contacting
        us.</p>

    <p>The personal information that we collect depends on the context of your interactions with us and the Services,
        the choices you make and the products and features you use. The personal information we collect can include the
        following:</p>

    <p>Publicly Available Personal Information. We collect any information you send to us by email, like your name,
        email addresses, and other similar data that is part of the email message (both its content and headers).</p>

    <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of
        any changes to such personal information.</p>

    <h2>2. Will your information be shared with anyone?</h2>

    <p><em>In Short: We only share information with your consent, to comply with laws, to provide you with services, to
            protect your rights, or to fulfill business obligations.</em></p>

    <p>We may process or share data based on the following legal basis:</p>

    <p>Consent: We may process your data if you have given us specific consent to use your personal information in a
        specific purpose.</p>

    <p>Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business
        interests.</p>

    <p>Performance of a Contract: Where we have entered into a contract with you, we may process your personal
        information to fulfill the terms of our contract.</p>

    <p>Legal Obligations: We may disclose your information where we are legally required to do so in order to comply
        with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in
        response to a court order or a subpoena (including in response to public authorities to meet national security
        or law enforcement requirements).</p>

    <p>Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or
        take action regarding potential violations of our policies, suspected fraud, situations involving potential
        threats to the safety of any person and illegal activities, or as evidence in litigation in which we are
        involved.</p>

    <p>More specifically, we may need to process your data or share your personal information in the following
        situations:</p>

    <p>Other Users. When you share personal information (for example, by posting comments, contributions or other
        content to the Services) or otherwise interact with public areas of the Services, such personal information may
        be viewed by all users and may be publicly distributed outside the Services in perpetuity. Similarly, other
        users will be able to view descriptions of your activity, communicate with you within our Services, and view
        your profile.</p>

    <h2>3 Do we use cookies and other tracking technologies?</h2>

    <p><em>In Short: We only use session cookies.</em></p>

    <p>We don't use cookies for tracking technologies or to collect information otherwise. We only use a session cookie
        for authentication and authorization purposes.</p>

    <h2>4. How long do we keep your information?</h2>

    <p><em>In Short: We keep your information for as long as necessary to fulfill the purposes outlined in this privacy
            policy unless otherwise required by law.</em></p>

    <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this
        privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or
        other legal requirements). No purpose in this policy will require us keeping your personal information for
        longer than 2 years.</p>

    <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or
        anonymize it, or, if this is not possible (for example, because your personal information has been stored in
        backup archives), then we will securely store your personal information and isolate it from any further
        processing until deletion is possible.</p>

    <h2>5. How do we keep your information safe?</h2>

    <p><em>In Short: We aim to protect your personal information through a system of organizational and technical
            security measures.</em></p>

    <p>We have implemented appropriate technical and organizational security measures designed to protect the security
        of any personal information we process. However, please also remember that we cannot guarantee that the internet
        itself is 100% secure. Although we will do our best to protect your personal information, transmission of
        personal information to and from our Services is at your own risk. You should only access the services within a
        secure environment.</p>

    <h2>6. Do we collect information from minors?</h2>

    <p><em>In Short: We do not knowingly collect data from or market to children under 18 years of age.</em></p>

    <p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Services, you
        represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such
        minor dependent’s use of the Services. If we learn that personal information from users less than 18 years of
        age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data
        from our records. If you become aware of any data we have collected from children under age 18, please contact
        us at info@matthiasnoback.nl.</p>

    <h2>7. What are your privacy rights?</h2>

    <p><em>In Short: In some regions, such as the European Economic Area, you have rights that allow you greater access
            to and control over your personal information. You may review, change, or terminate your account at any
            time.</em></p>

    <p>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws.
        These may include the right (i) to request access and obtain a copy of your personal information, (ii) to
        request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if
        applicable, to data portability. In certain circumstances, you may also have the right to object to the
        processing of your personal information. To make such a request, please use the contact details provided below.
        We will consider and act upon any request in accordance with applicable data protection laws.</p>

    <p>If we are relying on your consent to process your personal information, you have the right to withdraw your
        consent at any time. Please note however that this will not affect the lawfulness of the processing before its
        withdrawal.</p>

    <p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal
        information, you also have the right to complain to your local data protection supervisory authority. You can
        find their contact details here:
        http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</p>

    <p>Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can
        usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or
        reject cookies, this could affect certain features or services of our Services. To opt-out of interest-based
        advertising by advertisers on our Services visit http://www.aboutads.info/choices/.</p>

    <h2>8. Data breach</h2>

    <p>A privacy breach occurs when there is unauthorized access to or collection, use, disclosure or disposal of
        personal information. You will be notified about data breaches when {{ siteOwner }} believes you are likely to
        be at risk of serious harm. For example, a data breach may be likely to result in serious financial harm or harm
        to your mental or physical well-being. In the event that {{ siteOwner }} becomes aware of a security breach
        which has resulted or may result in unauthorized access, use or disclosure of personal
        information {{ siteOwner }} will promptly investigate the matter and notify the applicable Supervisory Authority
        not later than 72 hours after having become aware of it, unless the personal data breach is unlikely to result
        in a risk to the rights and freedoms of natural persons.</p>

    <h2>9. Do we make updates to this policy?</h2>

    <p><em>In Short: Yes, we will update this policy as necessary to stay compliant with relevant laws.</em></p>

    <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated
        “Revised” date and the updated version will be effective as soon as it is accessible. If we make material
        changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by
        directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of
        how we are protecting your information.</p>

    <h2>10. How can you contact us about this policy?</h2>

    <p>If you have questions or comments about this policy, you may email us at info@matthiasnoback.nl or by post
        to:</p>

    <p>{{ siteOwner }}, {{ siteOwnerAddress }}</p>

    <p>How can you review, update, or delete the data we collect from you?</p>

    <p>Based on the laws of some countries, you may have the right to request access to the personal information we
        collect from you, change that information, or delete it in some circumstances. To request to review, update, or
        delete your personal information, please send an email to <a href="mailto:info@matthiasnoback.nl">info@matthiasnoback.nl</a>.
        We will respond to your request within 30 days.</p>

{% endblock body %}
